# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Database
*.db
*.sqlite

# Streamlit
.streamlit/

# OS specific
.DS_Store
